*{
  margin: 0%;
  padding: 0%;
}   
.rightarrow{
  border-radius: 50px !important;
  position: absolute;
  left: 100px; 
}
.leftarrow{
  border-radius: 50px !important;
  position: absolute;
  left: 225px;
  top:7px
} 
.list-items{
    text-decoration: none;
    color: gray; 
}
.sub-items{
    margin-top: 5px;
}
 #scroll{
  height: 418px;
  overflow-y: scroll;
 }
 #scroll::-webkit-scrollbar{
  width: 8px;
 }
#scroll::-webkit-scrollbar-thumb{
  background-color:gray;
  border-radius: 10px;  
}
div{
  display: block;
}
.header{
  background-image: url('https://templates.iqonic.design/hope-ui/html/dist/assets/images/dashboard/top-header.png');
  object-fit: cover;
  height: 908px;
  background-repeat: no-repeat;
}
#announcements{
  text-decoration: none;
  background-color:rgba(204,204,204,0.4);
}
#announcements:hover{
  background-color:rgba(204,204,204,0.7)
}
.Profile-img{
  height: 8% ;
  width: 8% ;
  border-radius: 50%;
   margin-top: -5%;
  margin-left: 5%; 
}
.gallery{
  height: 70px;
}
.img1{
  background-color: #079aa21a;
}

.img5{
  background-color: rgba(241,106,27,.2);
}
.img7{
  background-color: rgba(192,50,33,.2);
}
.img9{
  background-color:rgba(26,160,83,.2) ;
}

.twitter{
  height: 80px;
  border-radius: 50%;
  background-color: rgb(192,50,33,0.2);
}
.img2{
  background-color: #3a57e81a;
}
.wade-warren{
  background-color: #079AA21A;
}
.flutter{
  background-color: rgba(58,87,232,.2) !important;
}
.web-design{
  background-color: #DEE2E633;
}
.comment-attagement{
  font-size: 1.25rem;
  position: absolute;
  right: 1.875rem;
  bottom: 20px;
}
.icon{
  border-radius: 50%;
}
.icon:hover{
  background-color: blue;
  color: azure;
}
